@function size($px) {
    @return $px / 16px * 1rem;
}

$color: #000;
$active-color: #4164d6;

.toggle-menu-icon {
    width: size(36px);
    height: size(30px);
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        width: size(25px);
        height: size(2px);
        background: $color;
        position: absolute;
        bottom: size(6px);
        left: calc(50% - #{size(12.5px)});
        transform-origin: left center;
        transition: transform 0.5s ease, width 0.5s ease, background 0.5s ease;
    }

    .hamburger {
        width: size(25px);
        height: size(2px);
        background: $color;
        position: absolute;
        top: calc(50% - #{size(1px)});
        left: calc(50% - #{size(12.5px)});
        transition: opacity 0.5s ease, transform 0.5s ease, background 0.5s ease, width 0.5s ease;
    }

    &::after {
        content: "";
        display: block;
        width: size(25px);
        height: size(2px);
        background: $color;
        position: absolute;
        top: size(6px);
        left: calc(50% - #{size(12.5px)});
        transform-origin: left center;
        transition: transform 0.5s ease, width 0.5s ease, background 0.5s ease;
    }

    &.active {
        .hamburger {
            width: size(23px);
            opacity: 0;
            transform: translateX(-16px);
            background: $active-color;
        }
        &::before {
            width: size(23px);
            transform: rotate(-45deg);
            background: $active-color;
        }
        &::after {
            width: size(23px);
            transform: rotate(45deg);
            background: $active-color;
        }
    }
}
